<div class="container">
    <h1 class="center">Iniciar sesión</h1>
    <hr>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="assets/img/user.png" th:src="@{/img/user.png}" />
                </div>
                <form class="col-12">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" />
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password" [(ngModel)]="password" />
                    </div>
                    <button (click)=checkLogin() type="submit" class="btn btn-primary" id="login-button"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                </form>
            </div>
        </div>
    </div>
</div>