<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Detalle de Examenes</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover" id="detallesExa">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Campo Examen</th>
                        <th>Descripcion</th>
                        <th>Tipo de Examen</th>
                        <th>Paciente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of detalles | async; index as i">
                        <td>{{i+1}}</td>
                        <td>{{detalle.campoExamen}}</td>
                        <td>{{detalle.descripcion}}</td>
                        <td>{{detalle.nombreExamen}}</td>
                        <td>{{detalle.nombre}}</td>
                        <td><button class="btn-danger" (click)="deleteDetalleExa(detalle.idDetalleTipoExamen)">Delete</button>
                            <button class="btn-warning">Editar</button></td>
                    </tr>
                    <button type="button" class="btn btn-primary" (click)="imprimirLista()">Imprimir</button>
                </tbody>
            </table>

        </div>
    </div>
</div>