<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Detalle de Examenes</h1>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Campo Examen</th>
                    <th>Descripcion</th>
                    <th>Tipo de Examen</th>
                    <th>Paciente</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of detalles | async; index as i">
                    <td>{{i+1}}</td>
                    <td>{{detalle.campoExamen}}</td>
                    <td>{{detalle.descripcion}}</td>
                    <td>{{detalle.idTipoExamen}}</td>
                    <td>{{detalle.idPersona}}</td>
                    <td><button class="btn-danger" (click)="deleteDetalleExa(detalle.idDetalleTipoExamen)">Delete</button>
                        <a routerLink="create-detalle">Crear</a></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>