<section class="hero">
    <header>
        <div class="wrapper">
            <a href="#"><img src="assets/img/logo.png" width="65px" height="65px" class="logo" /></a>
            <a href="#" class="hamburger"></a>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a routerLink="user/register">Registrate</a></li>
                    <li><a routerLink="personas">Personas</a></li>
                    <li><a routerLink="detalletipoexa-list">Detalles Examenes</a></li>
                    <li><a routerLink="user/login">Inicio de Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--  end header section  -->
    <router-outlet></router-outlet>
</section>
<footer>
    <div class="copyrights wrapper">
        Copyright © 2019
        <a href="https://ugb.edu.sv" target="_blank" class="ph_link" title="Universidad Gerardo Barrios"></a>UGB All Rights Reserved.
    </div>
</footer>
<!--  end footer  -->
<!--  end advanced search section  -->