<section class="hero">
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="class navbar-nav">
                <a class="nav-item nav-link" routerLink="/">Home</a>
                <a *ngIf="loginservice.isUserLoggedIn()" routerLink="/user/register" class="nav-item nav-link">Registrate</a>
                <a *ngIf="loginservice.isUserLoggedIn()" routerLink="/personas" class="nav-item nav-link">Personas</a>
                <a *ngIf="loginservice.isUserLoggedIn()" routerLink="/detalletipoexa-list" class="nav-item nav-link">Detalles Examenes</a>
                <a *ngIf="loginservice.isUserLoggedIn()" routerLink="/historialexa-list" class="nav-item nav-link">Historial Examenes</a>
                <a *ngIf="!loginservice.isUserLoggedIn()" routerLink="/user/login" class="nav-item nav-link">Inicio de Sesión</a>
                <a *ngIf="loginservice.isUserLoggedIn()" routerLink="logout" class="nav-item nav-link">Salir</a>
            </div>
        </nav>
        <hr>
    </header>
    <!--  end header section  -->
</section>
<router-outlet></router-outlet>
<!--  end footer  -->
<!--  end advanced search section  -->