<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Personas</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>Lastname</th>
                    <th>Fecha de Nacimieto</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Estado</th>
                    <th>Rol</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of persons | async">
                    <td>{{person.nombre}}</td>
                    <td>{{person.apellido}}</td>
                    <td>{{person.fechaNacimiento}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.telefonoCelular}}</td>
                    <td>{{person.estado}}</td>
                    <td>{{person.rol}}</td>
                    <td><button class="btn btn-primary active" (click)="deletePersona(person.idPersona)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>