<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Personas</h1>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>FirstName</th>
                    <th>Lastname</th>
                    <th>Fecha de Nacimieto</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Estado</th>
                    <th>Rol</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of persons | async; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{person.nombre}}</td>
                    <td>{{person.apellido}}</td>
                    <td>{{person.fechaNacimiento}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.telefonoCelular}}</td>
                    <td>{{person.estado}}</td>
                    <td>{{person.rol}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deletePersona(person.idPersona)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>